@use "sass:color";

$panes-border-color: #363B3D;
$bg-color: #181A1B;
$fg-color: rgb(212, 209, 203);
// $panes-border-color: #e8e8e8;

$heading-border-color: #45494a;
$table-border-color: #45494a;

.editor-main {
    flex: 1;

    max-height: calc(100% - 50px);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    background-color: $bg-color;
    color: $fg-color;
}

@mixin monospace-font {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

@mixin pane-header {
    width: 100%;
    min-height: 43px;

    border-style: solid;
    border-color: $panes-border-color;
    border-width: 0px 0px 1px 0px;

    padding: 2px 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    > .text {
        color: rgb(182, 175, 166);
        letter-spacing: -0.2px;
        font-size: 0.9rem;
        font-weight: 500;

        text-transform: uppercase;
    }
}

/* ==== Input pane ==== */

.markdown-input-pane {
    flex: 1;
    max-width: 50%;

    border: 0;
    border-right: 1px solid $panes-border-color;

    display: flex;
    flex-direction: column;

    .input-header {
        @include pane-header;
    }
}

/* ==== Preview pane ==== */

.markdown-preview-pane {
    flex: 1;
    max-width: 50%;

    display: flex;
    flex-direction: column;

    .preview-header {
        @include pane-header;
        flex-grow: 0;
        .preview-selectbox {
            margin-left: auto;
            margin-bottom: 0;

            :global {
                .bp3-html-select {
                    border: 1px solid $panes-border-color;
                    border-radius: 3px;
                }
            }
        }
    }
}

.preview-area {
    flex: 1;

    // min-height: 100%;
    max-height: 100%;

    overflow-y: scroll;
    overflow-x: auto;

    padding: 20px 20px 0px;
}

.preview-type-html {
    font-family: "Fira Code", sans-serif;

    pre {
        display: block;
        word-break: break-all;
        word-wrap: break-word;
        min-height: 100%;

        margin: 0;

        code {
            @include monospace-font;
            white-space: pre;
        }
    }
}

.preview-type-md {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
}

@mixin all-md-rules {

    > :first-child  { margin-top: 0 !important; }
    > :last-child   { margin-bottom: 50px !important; }

    h1 {
        padding-bottom: .3em;
        font-size: 2em;
        border-bottom: 1px solid $heading-border-color;
    }

    h2 {
        padding-bottom: .3em;
        font-size: 1.5em;
        border-bottom: 1px solid $heading-border-color;
    }

    h1, h2, h3, h4, h5, h6 {
        display: block;
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
    }

    p, blockquote, ul, ol, dl, table, pre, details {
        margin-top: 0;
        margin-bottom: 16px;
    }

    ul, ol {
        padding-left: 2em;
    }
    h3 {
        font-size: 1.25em;
    }

    li + li {
        margin-top: .25em;
    }

    a {
        color: #00BD83;
        &:active, &:hover {
            outline-width: 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    tt, code, pre {
        @include monospace-font;
    }

    pre {
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        border-radius: 6px;
        word-wrap: normal;

        code {
            margin-right: 16px;
        }
    }

    tt, code:not(pre code) {
        padding: .2em .4em;
        margin: 0;
        font-size: 85%;
        border-radius: 6px;
    }

    tt, code, pre {
        background-color: #112F2C;
        // background-color: #152F39;
    }

    table {
        display: block;
        width: 100%;
        max-width: 100%;
        overflow: auto;
        border-spacing: 0;
        border-collapse: collapse;


        tr {
            background-color: $bg-color;
            border-top: 1px solid $table-border-color;
        }
        tr:nth-child(2n) {
            background-color: lighten(adjust-hue($bg-color, -10deg), 5%);
            // background-color: complement($bg-color);
        }

        th, td {
            padding: 6px 13px;
            border: 1px solid $table-border-color;
        }

        th {
            font-weight: 600;
        }
    }

    img {
        max-width: 100%;
        box-sizing: content-box;
    }
}


.preview-type-md {
    @include all-md-rules;
}



