@import '@fontsource/roboto/latin-100.css';
@import '@fontsource/roboto/latin-300.css';
@import '@fontsource/roboto/latin-400.css';
@import '@fontsource/roboto/latin-500.css';
@import '@fontsource/roboto/latin-700.css';

@import 'normalize.css';

@import '@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '@blueprintjs/core/lib/css/blueprint.css';

@import '@/styles/_global';

.app-main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
