@mixin fix-selection {
    color: white;
    background:#004075;
}

.top-bar {

    ::-moz-selection { @include fix-selection; }
    ::selection { @include fix-selection; }

    width: 100%;
    height: 50px;
    max-height: 50px;
    background-color: #236760;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 5px 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .title {
        font-weight: 700;
        margin-left: 30px;
    }
}

.menu-handle {}
